*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/values/keys.xml
/app/src/main/res/values-en/keys.xml
/app/src/main/res/values-de/keys.xml
/app/src/main/res/values-es/keys.xml
/app/src/main/res/values-ko/keys.xml
/app/notes.txt